 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

 body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    
 }
 
 nav {
   background-color: #000000;
   text-align: center;
   position: sticky;
   top: 0;
 
   
 }
nav>a {
   text-decoration: none;
   padding: 15px 45px;
   display: inline-block;
   color: aliceblue;
   font-weight: bold;
   text-align: center;
}

nav > a:hover {
   background-color: rgb(0, 140, 142);
}

h1{ 
   font-family: cursive;
   text-align: center;
   font-size: xx-large;
   font-weight: bolder;
}
#p1 {
   font-weight: bolder;
   font-size:larger

}
.center-text{
   text-align: center;
}
.quick-bold{
   font-weight: bolder;
   font-size: larger;
}

input, textarea{
   background-color:aliceblue;
   border-radius: 11px;
   color:#000000;
   padding:8px 12px;
   border-color: 25px black;
}
input:focus {
   background-color: snow;
   text-shadow: 8px;

}
input[type=submit], input[type=reset] {
   background-color: rgba(85, 85, 107, 0.244);
   border-radius:120px;
   padding:8px 12px;
   border-color: azure ;
   
   
}
form {
   border: 16px solid #000000;
   background-color:rgba(52, 93, 228, 0.816);
   font-weight: bolder;
   border-radius: 12px;
   text-align: center;
   border-style:double;
}
img{
   border: 12px solid #000000;
   border-radius:30px;
}
.float-r{
    float:right;
}
